:root {
    --main-bg-color: #ff99ac;
    --main-text-color: #ff99ac;
    --second-text-color: #d65db1;
    --second-bg-color: #ffeef2;
    --accent-color: #ff4081;
}

body {
    background-color: var(--second-bg-color);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.bg-pink {
    background-color: var(--main-bg-color);
}

.text-pink {
    color: var(--accent-color);
}

.primary-text {
    color: var(--accent-color);
}

.second-text {
    color: var(--second-text-color);
}

.btn-pink {
    background-color: var(--accent-color);
    border: none;
    transition: all 0.3s ease;
}

.btn-pink:hover {
    background-color: #d81b60;
    transform: scale(1.05);
}

.card-header {
    background: linear-gradient(45deg, #ff99ac, #ff4081);
}

.border-pink {
    border-color: var(--main-bg-color) !important;
}

#wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
        to right,
        #ff99ac,
        #ff99ac 50%,
        var(--second-bg-color) 50%,
        var(--second-bg-color)
    );
    transition: all 0.3s ease;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    width: 15rem;
    transition: margin 0.25s ease-out;
    background-color: white; 
    z-index: 1000;
    position: relative;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    color: white;
    background-color: var(--accent-color);
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    width: 100%;
    transition: all 0.3s;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
    font-weight: bold;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--accent-color);
    font-weight: bold;
    border-left: 5px solid var(--accent-color);
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}